<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Komment.ai</title>
</head>
<body>
    <h3> <%= title %> </h3>
    <button onclick="location.href='http://localhost:3000/dashboard';" id="auth">View dashboard</button>
</body>
</html>